[Desktop Entry]
Encoding=UTF-8
Name=Link to USB母转打印机方口公转接头 USB连接线 A型母对B型公 带耳朵固定-tmall.com天猫
Type=Link
URL=https://detail.tmall.com/item.htm?spm=a230r.1.14.116.45453f92BQAnMN&id=42427994610&ns=1&abbucket=16&skuId=4186589460560
Icon=text-html
