[Desktop Entry]
Encoding=UTF-8
Name=Link to 原装鑫航sfx台式机电脑电源额定400W宽幅ITX一体机小电源支持110V-淘宝网
Type=Link
URL=https://item.taobao.com/item.htm?spm=a230r.1.14.100.23f13629SzbzMy&id=580504453199&ns=1&abbucket=16#detail
Icon=text-html
